.room__search.row{ id: "room__search-#{i}", style: "#{(i == 0)? '': 'display: none;'}" }
  =hidden_field_tag "form[#{i}][latitude]"
  =hidden_field_tag "form[#{i}][longitude]"
  .search_field.col-md-4
    .search_field__location--label
      =label_tag "search-input-location-#{i}", '場所'
    .search_field__location--input
      =text_field_tag "form[#{i}][address]", '', class: "search-input search-input-location", id: "search-input-location-#{i}", placeholder: 'どこでも'
  .search_field.col-md-4
    .search_field__date--label
      =label_tag "search-input-date-#{i}", '日時'
    .search_field__date--input
      #datepicker.input-daterange.input-group
        %input.input-sm.date_input.search-input{ id: "search-input-date-#{i}", name: "form[#{i}][start_day]", type: 'text', placeholder: 'いつでも' }
        %span.input-group-addon ー
        %input.input-sm.date_input.search-input_ex{ id: "search-inpu-date-#{i}", name: "form[#{i}][end_day]", type: 'text' }
  .search_field.col-md-4
    .search_field__occupancy--label
      =label_tag "search-input-occupancy-#{i}", 'ゲスト'
    .search_field__occupancy--input
      =select_tag "form[#{i}][occupancy]", options_for_select(Array(1..16)), id: "search-input-occupancy-#{i}", class: 'search-input-occupancy'
