.col-sm-12.col-md-6.space-4
  .listingCardWrapper
    .container-image
      = image_tag(room.image, class: 'listing-image')
    .linktolisting
      = link_to room_path(room.id, start_day: params[:form][:start_day], end_day: params[:form][:end_day]) do
        %span
          = number_to_currency(room.price, locale: 'jp')
        %strong #{ room.name }
    .listing_type
      /TODO: 日本語訳はまた後で実装
      %span #{ room.category }
    .rating--room
      %span{ class: "rating-star rate-#{ room.reviews_average }0"}
      %span レビュー件数は#{ room.reviews.length }件
      -if request.path_info == "/tours"
        .choose_room
          %span 選択する
          = check_box_tag "resavation[#{i}][room_id]", room.id
