#main-view.page-container-responsive.space-top-6.space-6
  .row
    #content-container.col-md-7
      #accordion.panel-group
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse1", class: 'resavation-first-panel'}
                1. 旅行について
          #collapse1.panel-collapse.collapse{ class: "#{(current_user == @resavation.user)? 'in': ''}" }
            .panel-body
              = form_for ([@resavation, @message]), html: { class: 'js-form' } do |f|
                .input-field-label
                  = f.label :body, '簡単なご挨拶後にご旅行目的をお書きください。'
                .input-filed-input
                  = f.text_area :body, class: 'form-control message_input space-2'
                = f.submit '次へ', class: 'next-btn btn__first-btn'
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse2", class: 'resavation-second-panel'}
                2. メッセージ
          #collapse2.panel-collapse.collapse{ class: "#{(current_user == @resavation.room.user)? 'in': ''}" }
            .panel-header.space-top-2
              -if current_user == @resavation.user
                ホストの承認を待ちましょう！
              -else
                ユーザーのリクエストを承認しましょう！
            .panel-body
              %ul.messages-list.list-unstyled
                = render partial: 'resavations/shared/message', collection: @resavation.messages
              -if @resavation.status == 'request'
                -if current_user == @resavation.room.user
                  .next-btn.btn__first-btn.text-center.text-middium
                    = link_to '承認', submit_resavation_path, class: 'accept-btn'
                -else
                  .text-center
                    %h3 承認待ち
              -else
                .text-center
                  %h3 承認済み
    .col-md-5
      = render partial: 'resavations/shared/book_it', locals: { resavation: @resavation }
= javascript_include_tag 'resavation_show.js'



