.rooms-image-container
  =image_tag( @room.image, width: '100%', height: '400' )
%main#site-content
  #summary.panel.room-section.no-border
    .page-container-responsive
      .row
        .col-lg-8
          .row.hide-md.border-bottom
            %ul.list-inline.show-navbar
              %li
                %span 概要
              %li
                %span レビュー
              %li
                %span ホストについて
              %li
                %span 所在地
          .row
            .col-sm-12
              .row.section-container.border-bottom
                .hide-sm.col-md-10
                  %h1 #{ @room.name }
                  .display-address.space-1
                    = link_to "#{ @location[6]['long_name'] }, #{ @location[5]['long_name'] }"
                  .rating--room.space-1
                    %span{ class: "rating-star rate-#{ @room.reviews_average }0"}
                .hide-sm.text-center.col-md-2.text-muted.space-top-3
                  = image_tag(@room.user.image, width: '64px', height: '64px', class: 'user_img')
                  = link_to @room.user.first_name, '#'
              .row.border-bottom.icon_container
                .col-sm-3.text-center
                  = fa_icon('home 2x gray')
                  %br
                  %span #{ @room.category }
                .col-sm-3.text-center
                  = fa_icon('group 2x gray')
                  %br
                  %span 定員#{ @room.max_number }名
                .col-sm-3.text-center
                  = fa_icon('star 2x gray')
                  %br
                  %span 寝室
                .col-sm-3.text-center
                  = fa_icon('bed 2x gray')
                  %br
                  %span ベッド
              .row
                .col-sm-12.border-bottom.about-listing
                  %h2 リスティングについて
                  %span.space-2 #{ @room.outline }
                  %br
                  =link_to 'ホストに連絡', '#', class: 'space-2'
                  -# TODO: メーリング機能
              .row.review-container
                .col-sm-12
                  %h2 レビュー#{ @room.reviews.length }件
                  %ul.review-list.list-unstyled
                    = render partial: '/rooms/shared/review', collection: @room.reviews
        .col-lg-4
          .book-it
            = render partial: '/rooms/shared/book'

= javascript_include_tag 'show.js'

