#main-view.page-container-responsive.space-top-6.space-6
  .row
    #content-container.col-md-7
      -if @resavation.status_review == 'posted'
        %h1 レビュー済みです。
      -else
        = form_for ([@room, @review]) do |f|
          .review-field--labal
            = f.label :body, '宿泊した感想を記入してください。'
          .review-field--input
            = f.text_area :body, cols: 10, class: 'form-control'
          .review-field--label
            = f.label :rate, '宿泊先の評価をお願いします。'
          .review-field-input
            = f.number_field :rate, placeholder: '評価', value: 1, max: 10, min: 1, html: { class: "search__query", style: 'text-align: right;' }
          = f.submit '評価する', class: 'space-top-2'
    .col-md-5
      = render partial: '/resavations/shared/book_it', locals: { resavation: @resavation }
= javascript_include_tag 'resavation_show.js'



