!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AirbnbClone
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script{ src: "https://maps.googleapis.com/maps/api/js?key=" + ENV['GOOGLE_API_KEY'] + "&libraries=places&lang=ja&region=jp" }
    = include_gon
    = javascript_include_tag "application"
  %body
    .container
      = render partial: 'layouts/shared/header'
      = yield
      = render partial: 'layouts/shared/footer'
