!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AirbnbClone
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      %header.header
        -if user_signed_in?
          = image_tag('airbnb_logo.jpg',:width => '80',:height => '40',:alt => 'airbnb_logo')
          .dropdown.pull-right.usermenu
            %a.dropdown.pull-right{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              - if current_user.image?
                = image_tag current_user.image, class: 'self-image'
              - else
                %img{:alt => "", :height => "28", :src => "https://a0.muscache.com/defaults/user_pic-50x50.png?v=2", :width => "28"}
            = render partial: 'top/shared/usermenu'
          = link_to 'ヘルプ', '', class: 'help pull-right'
          = link_to 'メッセージ', '', class: 'message pull-right'
          = link_to '旅行', '', class: 'travel pull-right'
          = link_to 'ホストになる', new_room_path, class: 'host pull-right'
          = link_to 'ホストする時間がない方はこちら', '', class: 'hire-a-host pull-right'
        -else
          = image_tag('airbnb_logo.jpg',:width => '80',:height => '40',:alt => 'airbnb_logo')
          %a.pull-right{"data-target" => "#loginModal", "data-toggle" => "modal"} ログイン
          = render partial: "top/shared/login"
          %a.pull-right{"data-target" => "#formModal", "data-toggle" => "modal"} アカウント作成
          = render partial: "top/shared/form"
          = link_to 'ホストになる','', class: 'host pull-right'
          = link_to 'ホストする時間がない方はこちら', '', class: 'hire-a-host pull-right'
          = link_to 'ヘルプ', '', class: 'help pull-right'
      = yield
